.header-bottom{
  position: relative;
  padding:1em 0 0;

  margin: 0 0 1em;
}

.menu{
  border-bottom: 2px solid $colorBody;
  margin: 0 0 -1em 0;
}

.menu__list{
  text-align: justify;
  &:after{
    content: "";
    height: 0;
    display: block;
  }
}

.menu__item{
  display: inline-block;
}

.menu__link{
  display: inline-block;
  padding: 1em 1.3em 1.125em;
  text-decoration: none;
  @include link_hover($colorBody,$colorLink);
  @include borderBottomHover($colorBody, $colorLink, 2px);
  margin: 0 0 -0.1em;
}

.menu__link_active{
  border-bottom: 2px solid $colorLink;
}

.soc__list{
  text-align: justify;
  display: block;
  float: right;
  width: 21%;
  height:3.235em;
  text-align: right;
  margin:-2.2em 0 0 ;
}

.soc__item{
  display: inline-block;
}

.soc__link{
  position: relative;
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 50%;

  @include block_hover($backgroundBody,$backgroundSocHeadHover);
  @include link_hover($colorBodyHover,$colorBody);

  i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
  }
}