@mixin placeholder($color, $fontSize){
  ::-webkit-input-placeholder {color:$color;
                                text-overflow:ellipsis;
                                font-style: italic;
                                font-size: $fontSize;
                              }
  ::-moz-placeholder          {color:$color;
                                text-overflow:ellipsis;
                                font-style: italic;
                                font-size: $fontSize;
                              }
  :-moz-placeholder           {color:$color;
                                text-overflow:ellipsis;
                                font-style: italic;
                                font-size: $fontSize;
                              }
  :-ms-input-placeholder      {color:$color;
                                text-overflow:ellipsis;
                                font-style: italic;
                                font-size: $fontSize;
                              }
}

@mixin link_hover($static_color, $hover_color){
  color: $static_color;
  transition: $time;

  &:hover{
    transition: $time;
    color: $hover_color;
  }
}

@mixin block_hover($static_color, $hover_color){
  background: $static_color;
  transition: $time;

  &:hover{
    transition: $time;
    background: $hover_color;
  }
}

@mixin borderBottomHover($staticColor, $hoverColor,$height){
  border-bottom:$height solid $staticColor;
  transition: $time;

  &:hover{
    transition: $time;
    border-color:$hoverColor;
  }
}
