.block__item{
  position: relative;
  display: inline-block;

  .news-soc__list{
    right: 0;
    bottom: 0;
  }

  .news-soc__item{
    margin: 0 0 0 0.5em;
  }

  .news-soc__link{
    @include block_hover($colorBodyHover,$colorLink);
  }
}

.post__img{
  width: 100%;
}

.post__head{
  margin-top: 0;
  a{
    text-decoration: none;
    @include link_hover($colorBody,$colorLink);
  }
}

.post_prew{
  margin: 0 0 2em 0;
}

.post__date{
  color: $colorLink;
  i{
    color:$colorBody
  }
}

