.little-post__item{
  display: inline-block;
  width:47%;
  margin:0 2% 2% 0;
}


.little-post__left,
.little-post__right{
  float: left;
}

.little-post__left{
  width: 48%;
  margin: 0 2% 0 0;
}
.little-post__img{
  width: 100%;
}


.little-post__right{
  width:50%;
}