$colorBody: #000;
$colorBodyHover: #aaa;
$colorLink: #02AFFF;
$colorLinkHover: #07FFFD;


$backgroundBody: #fff;
$backgroundSocHeadHover: #fff602;
$backgroundSidebarSoc: #EFEFEF;

$heightFooter: 35.4375em;

$time: 0.6s;