.top-news{

}

.top-news__left{
  position: relative;
  float: left;
  width: 49.5%;
}



.top-news__right{
  position: relative;
  float: right;
  width: 49%;
}

.top-news__small{
  display: inline-block;
  width: 49%;
}

.news-block__head_small{
  font-size:1em;
}