@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/robotoregular-webfont.eot');
  src: url('../fonts/roboto/robotoregular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto/robotoregular-webfont.woff2') format('woff2'),
  url('../fonts/roboto/robotoregular-webfont.woff') format('woff'),
  url('../fonts/roboto/robotoregular-webfont.ttf') format('truetype'),
  url('../fonts/roboto/robotoregular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}